<template>
  <div class="finder">
    <input
      v-model="libName"
      class="finder__input"
      placeholder="Write library name"
      type="text"
    >

    <v-btn
      @click="getLibraries"
      class="finder__btn"
      icon
    >
      <v-icon :size="isPhoneDevice ? '24' : '38'">
        mdi mdi-search-web
      </v-icon>
    </v-btn>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import store from '../store';

const libName = ref('');

const getLibraries = async () => {
  await store.dispatch('getLibraryByName', libName.value);
};

const isPhoneDevice = window.innerWidth < 768;
</script>

<style lang="scss" scoped>
.finder {
  width: 50%;
  margin: 20px 0;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  &__btn {
    width: 100px;
    height: 56px;
    margin-left: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg,#7134cc,#d05cc2);

    &:hover, &:active {
      background-image: linear-gradient(90deg, #8751dc, #d066c4);
    }

    @media (max-width: 768px) {
      width: 60px;
      height: 40px;
    }
  }

  &__input {
    width: 100%;
    height: 56px;
    font-size: 24px;
    padding: 0 20px;
    border-radius: 8px;
    background-color: #fff;
    border: 3px solid #d05cc2;

    @media (max-width: 768px) {
      height: 40px;
      padding: 0 12px;
    }
  }
}
</style>