<template>
  <div class="footer">
    <img
      class="footer__photo"
      src="/photo.jpg"
      alt="AUTHOR-PHOTO"
    />

    <div class="footer__info-wrp">
      <p class="footer__info-name">
        Vitalii Chernenko - Front End developer
      </p>

      <div class="footer__info-git">
        <img
          class="footer__info-git-icon"
          src="/gitlab.svg"
          alt="GIT_LAB_ICON"
        >

        <a
          class="footer__info-git-link"
          href="https://gitlab.com/boraTTT"
          target="_blank"
        >
          https://gitlab.com/boraTTT
        </a>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 20px;

  &__photo {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }

  &__info-wrp {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 300;
  }

  &__info-git {
    display: flex;
    align-items: center;
  }

  &__info-git-icon {
    width: 32px;
    height: 32px;
  }

  &__info-git-link {
    margin-right: 12px;

    &:hover {
      color: #777189;
    }

    &:active {
      color: #777189;
    }
  }
}
</style>