<template>
  <header class="header">
    <img
      class="header__logo"
      src="/logo.png"
      alt="LOGO"
    />
  </header>
</template>

<style lang="scss" scoped>
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;

  @media (max-width: 768px) {
    height: 64px;
  }

  &__logo {
    width: 420px;

    @media (max-width: 768px) {
      width: 220px;
    }
  }
}
</style>