@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}