<template>
  <v-app class="app w-100">
    <Header />

    <div class="app__container">
      <Finder />
    </div>

    <Footer />
  </v-app>
</template>

<script setup>
import Header from '../src/components/Header.vue';
import Finder from '../src/components/Finder.vue';
import Footer from '../src/components/Footer.vue';
</script>

<style lang="scss" scoped>
.app {
  background-color: #141420;
  min-height: 100vh;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;

    @media (max-width: 768px) {
      padding: 20px;
    }
  }
}
</style>
